.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.gap-20 {
    gap: 20px;
}
.gap-10 {
    gap: 10px;
}
.align-baseline {
    align-items: baseline;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
.justify-center {
    justify-content: center;
}
.flex-end {
    justify-content: flex-end;
}
.space-between {
    justify-content: space-between;
}
.result-details {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: column;
}

.overflow-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}
.overflow-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}
.margins-left-right {
    margin: 0px 15px;
}
.margin-left {
    margin-left: 15px;
}
.margin-top {
    margin-top: 15px;
}
.margin-top-small {
    margin-top: 5px;
}
.margin-bottom {
    margin-bottom: 15px;
}
.margin-inline-end {
    margin-inline-end: 5px;
}
.padding-2 {
    padding: 5px;
}
.padding-15 {
    padding: 15px;
}
.display {
    display: inline-block;
}
.results {
    align-items: flex-start;
    justify-content: flex-start;
}
.border-radius-5 {
    border-radius: 10px;
}

.color-lighter {
    color: #FEC260;
}
.color-light {
     color: #A12568;
}
.color-dark {
    color: #3B185F;
}
.color-darker {
    color: #2A0944;
}

.large {
    font-size: 1.5em;
}
.larger {
    font-size: 1.8em;
}

.border-dark {
    border: 2px solid #3B185F;
}
.border-light {
    border: 2px solid #A12568;
}
.border-lighter {
    border: 1px solid #FEC260;
}
.background-dark {
    background-color: #3B185F;
}
.background-light {
    background-color: #A12568;
}
.background-lighter {
    background-color: #FEC260;
}
.shadow {
    box-shadow: 0px 0px 15px 10px #15003c;
}


body {
    box-sizing: border-box;
    background-color: #2A0944;
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #FEC260;
}
button, input {
    background-color: #3B185F;
    border-color: #FEC260;
    color: #FEC260;
    font-size: 20px;
}
input:focus {
    outline:solid 2px #FEC260;
}

.no-decoration-text {
    text-decoration: none;
}
.center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.small-caps {
    font-variant: small-caps;
}
.pointer {
    cursor: pointer;
}
.height-18 {
    height: 18px;
}
.height-231 {
    height: 231px;
}
.width-150px {
    width: 150px;
}
.width-154px {
    width: 154px;
}
.width-500px {
    width: 500px;
}

.logo-main {
    height: 100px;
}
.watcher {
    align-items: baseline;
}

.tmdb-sentence {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right,#01b4e4 30%,#90cea1 70%);
    background-size: cover;
    background-position: center center;
}



.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #A12568;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
