.flex {
    display: flex;
    flex-direction: row;
}
.result-details {
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.gap {
    gap: 20px;
}
.baseline {
    align-items: baseline;
}
.center {
    justify-content: center;
}

.overflow {
    font-size: 1em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}
.margins-left-right {
    margin: 0px 15px;
}
.margin-top {
    margin-top: 15px;
}
.margin-bottom {
    margin-bottom: 20px;
}

.results {
    align-items: flex-start;
    justify-content: flex-start;
}


.color-lighter {
    color: #FEC260;
}
.color-light {
     color: #A12568;
}
.color-dark {
    color: #3B185F;
}
.color-darker {
    color: #2A0944;
}

.large {
    font-size: 1.4em;
}

.border {
    border: 2px solid #3B185F;
}
.shadow {
    box-shadow: 0px 0px 15px 10px #15003c;
}


body {
    box-sizing: border-box;
    background-color: #2A0944;
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #FEC260;
}
button, input {
    background-color: #3B185F;
    border-color: #FEC260;
    color: #FEC260;
    font-size: 20px;
}
input:focus {
    outline:solid 2px #FEC260;
}

.no-decoration-text {
    text-decoration: none;
}
.bold {
    font-weight: bold;
}
.small-caps {
    font-variant: small-caps;
}
.pointer {
    cursor: pointer;
}

.height-231 {
    height: 231px;
}

.logo-main {
    height: 100px;
}
.watcher {
    align-items: baseline;
}
