.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.nowrap {
    flex-wrap: nowrap;
}
.gap5px {
    gap: 5px;
}
.gap10px {
    gap: 10px;
}
.gap20px {
    gap: 20px;
}
.align-baseline {
    align-items: baseline;
}
.align-center {
    align-items: center;
}
.align-flex-start {
    align-items: flex-start;
}
.align-flex-end {
    align-items: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-flex-end {
    justify-content: flex-end;
}
.justify-space-between {
    justify-content: space-between;
}
.result-details {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
}

.overflow {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}
.lines1 {
    -webkit-line-clamp: 1;
}
.lines4 {
    -webkit-line-clamp: 4;
}

.margins-l0px-r15px {
    margin: 0px 15px;
}
.margin-l15px {
    margin-left: 15px;
}
.margin-l-30px {
    margin-left: -30px;
}
.margin-l-46px {
margin-left: -46px;
}
.margin-t5px {
    margin-top: 5px;
}
.margin-t15px {
    margin-top: 15px;
}
.margin-t25px {
    margin-top: 25px;
}
.margin-b5px {
    margin-bottom: 5px;
}
.margin-b15px {
    margin-bottom: 15px;
}
.margin-b40px {
    margin-bottom: 40px;
}
.margin-inline-end-5px {
    margin-inline-end: 5px;
}
.padding-5px {
    padding: 5px;
}
.padding-15px {
    padding: 15px;
}
.padding-lr20px {
    padding-right: 20px;
    padding-left: 20px;
}
.display {
    display: inline-block;
}
.border-radius10px {
    border-radius: 10px;
}

.color-lighter {
    color: #FEC260;
}
.color-light {
     color: #A12568;
}
.color-dark {
    color: #3B185F;
}
.color-darker {
    color: #2A0944;
}

.border-dark {
    border: 2px solid #3B185F;
}
.border-light {
    border: 2px solid #A12568;
}
.background-dark {
    background-color: #3B185F;
}
.background-light {
    background-color: #A12568;
}
.background-lighter {
    background-color: #FEC260;
}

.shadow-darkest {
    box-shadow: 0px 0px 15px 10px #15003c;
}
.shadow-dark {
    box-shadow: 0px 0px 5px 10px #3B185F;
}
.text-shadow {
    text-shadow: 3px 3px 3px #15003c;
}


body {
    box-sizing: border-box;
    background-color: #2A0944;
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #FEC260;
}
button, input {
    background-color: #3B185F;
    border-color: #FEC260;
    color: #FEC260;
    font-size: 20px;
}
input:focus {
    outline:solid 2px #FEC260;
}
select:focus {
    outline: none;
}


.medium {
    font-size: 1.2em;
}
.large {
    font-size: 1.5em;
}
.larger {
    font-size: 1.8em;
}
.very-large {
    font-size: 45px;
}
.font-courier {
    font-family: 'Courier New', monospace;
}
.text-center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.small-caps {
    font-variant: small-caps;
}

.pointer {
    cursor: pointer;
}

.height-18px {
    height: 18px;
}
.height-100px {
    height: 100px;
}
.height-231px {
    height: 231px;
}
.height-100percent {
    height: 100%;
}

.width-70px {
    width: 70px;
}
.width-150px {
    width: 150px;
}
.width-154px {
    width: 154px;
}
.width-220px {
    width: 220px;
}
.width-300px {
    width: 300px;
}
.width-350px {
    width: 350px;
}
.width-500px {
    width: 500px;
}
.width-40percent {
    width: 40%;
}
.width-100percent {
    width: 100%;
}

.tmdb-sentence {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right,#01b4e4 30%,#90cea1 70%);
    background-size: cover;
    background-position: center center;
}


/*------------------------ tooltip --------------------------------*/
.tooltip {
    position: relative;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #A12568 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}


/*------------------------ spinner --------------------------------*/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #A12568;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
