.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 10px;
    align-content: space-around;
}
.results {
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}
.watcher {
    align-items: baseline;
}

.color-lighter {
    color: #FEC260;
}
.color-light {
     color: #A12568;
}
.color-dark {
    color: #3B185F;
}
.color-darker {
    color: #2A0944;
}

.large {
    font-size: 1.4em;
}

.border {
    border: 2px solid #3B185F;
}
.shadow {
    box-shadow: 0px 0px 15px 10px #15003c;
}


body {
    box-sizing: border-box;
    background-color: #2A0944;
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
input {
    background-color: #3B185F;
    color: #FEC260;
    font-size: 20px;
}
button {
    background-color: #3B185F;
    color: #FEC260;
    font-size: 20px;
}
.no-decoration-text {
    text-decoration: none;
}
.bold {
    font-weight: bold;
}
.small-caps {
    font-variant: small-caps;
}
.pointer {
    cursor: pointer;
}
.margins {
margin: 15px 5px 35px 5px;
}
.padding {
    padding: 5px;
}

.logo-main {
    height: 100px;
}